h1 {
    font-family: Verdana, sans-serif;
}

a {
    font-family: 'Lucida Console', sans-serif;
}

.nav {
    background-color: rgb(247, 207, 78);
}

h2, h3 {
    font-family: Arial, Verdana, sans-serif;
    font-style: italic;
}

h2 {
   color: sienna;
}

h3 {
   color: tomato;
}
