* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    margin: 20px;
}

.recipes-list { 
    margin: 20px;
    display: flex;
    justify-content: center;
}

.recipes-list li { 
    list-style-type: none;
    margin: 20px;
    text-align: center;
}

.recipes-list li img {
    display: block;
    width: 200px;
    height: auto;
}

.recipes-list li a {
    display: block;
    margin: 10px;
}

h1 {
    font-family: Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 16px;
}

h1 a {
    color: black;
    text-decoration: none;
}

.recipes-list a {
    font-family: 'Lucida Console', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

.nav {
    background-color: rgb(247, 207, 78);
    padding: 8px;
    text-align: center;
}

h2 h3 {
    font-family: Arial, Verdana, sans-serif;
    font-style: italic;
}

.recipe {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.recipe img {
    width: 500px;
}

h2, h3 {
    margin: 16px 0 16px 0;
}

.description p {
    width: 500px;
    margin-top: 16px;
}

.ingredient {
    margin: 0 60px;
    width: 700px;
}

.step {
    margin: 0 60px;
    width: auto;
}






